{
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-empty-function": "off"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [],
  "extends": [
    "eslint:recommended",
  ]
}
